
.kep{
    height: 100px;
    box-shadow: 6px 10px #505050;
}

.nev
{
    color: powderblue;
    text-transform: uppercase;
}

p{
    font-size: 10px;
}
.link{
    margin-top: 20px;
}

.cim
{
    text-align: center;
}

.tablazat
{
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border: 1px solid black;
    background-image: url("https://www.nawpic.com/media/2020/elephant-nawpic-12.jpg");
    background-size: cover;
    
}



